.info {
  width: auto;
  margin-top: 100px;
  margin-left: 100px;
  height: auto;
  display: grid;
  grid-template-columns: 100px auto;
  grid-template-rows: auto auto auto;
  grid-template-areas:
    "pierre name"
    "title title"
    "links links";
}

.name {
  grid-area: name;
  font-family: 'Josefin Sans', sans-serif;
  font-size: 130px;
}

.title {
  grid-area: title;
  font-family: 'Josefin Sans', sans-serif;
  font-size: 40px;
  padding-left: 10px;
  padding-top: 10px;
}

.links {
  grid-area: links;
  padding-left: 8px;
}

.pierre {
  grid-area: pierre;
  margin-top: 39px;
  margin-left: 10px;
  width: 65px;
  height: 65px;
  border: 1px solid black;
  border-radius: 50%;
  background: url('pierre.jpg');
  background-size: 90px;
  background-position: -23px -17px;
}

.sun {
  width: 300px;
  height: 300px;
  position: absolute;
  top: -10%;
  right: 0;
  background-color: #ffa91c;
  border-radius: 100%;
  z-index: -1;
}

.palmTree {
  width: 304px;
  height: 228px;
  right: 20%;
  position: absolute;
  bottom: 0;
}

.oceanContainer {
  height: 50px;
  width: 100%;
  position: absolute;
  bottom: 0;
  z-index: -1;
}

.water1, .water2, .water3 {
  width: 100%;
}

.water3 {
  background-color: #bad4ff;
  height: 10%;
}

.water2 {
  background-color: #76aaff;
  height: 30%;
}

.water1 {
  background-color: #1C72FF;
  height: 60%;
}

a {
  color: inherit;
  text-decoration: none;
}

.fab {
  margin: 25px 5px 0 5px;
}

@media only screen and (max-width: 850px) {
  .main {
    width: 100%;
  }
  .info {
    margin: 50px 0 0 0;
    width: 360px;
    text-align: right;
  }
  .oceanContainer {
    width: 100%;
  }
  .sun {
    width: 200px;
    height: 200px;
  }
  .name {
    font-size: 46px;
    font-weight: bold;
    margin-top: 50px;
  }
  .title {
    font-size: 20px;
  }
  .palmTree {
    width: 150px;
    height: auto;
  }
}

@media only screen and (max-width: 600px) {
  .info {
    margin-top: 200px;
  }
}
