main {
  display: grid;
  width: 1425px;
  height: 745px;
  margin: 0 auto;
  grid-template-columns: 80% 20%;
  grid-template-rows: 70% 30%;
  grid-template-areas:
    "name sun"
    "ocean ocean";
}

.name {
  background-color: #A0CFEC;
  grid-area: name;
}

.sun {
  background-color: #AFDCEC;
  grid-area: sun;
}

.ocean {
  background-color: #77BFC7;
  grid-area: ocean;
}

.name {
  font-family: 'Josefin Sans', sans-serif;
  font-size: 130px;
  margin: 0;
  padding-bottom: 0px;
}

.title {
  font-family: 'Josefin Sans', sans-serif;
  font-size: 35px;
  padding: 0 145px 0 0;
  margin-top: 0;
}

/* .nameContainer {
  height: auto;
  width: auto;
  margin: 100px 0 0 150px;
}

.sun {
  width: 300px;
  height: 300px;
  position: fixed;
  right: -45px;
  top: -45px;
  background-color: #ffa91c;
  border-radius: 100%;
}

.palmTree {
  width: 304px;
  height: 228px;
  position: absolute;
  bottom: 0;
  right: 22%;
}

.ocean {
  height: 50px;
  width: 100%;
  position: absolute;
  bottom: 0;
  background-color: blue;
  z-index: -1;
}

.water1, .water2, .water3 {
  width: 100%;
}

.water3 {
  background-color: #bad4ff
;
  height: 10%;
}

.water2 {
  background-color: #76aaff;
  height: 30%;
}

.water1 {
  background-color: #1C72FF;
  height: 60%;
}

.pierre {
  padding: 0;
  margin-top: -20px;
  width: 45px;
  height: 45px;
  border: 1px solid black;
  border-radius: 50%;
  background: url('pierre.jpg');
  background-size: 60px;
  background-position: -15px -10px;
}

a {
  margin: 0 0 5px 0;
  color: inherit;
}

.fab {
  margin: 0 5px 0 5px;
} */
