main {
  overflow-x: hidden;
  overflow-y: hidden;
  display: grid;
  width: 1435px;
  height: 753px;
  margin: 0 auto;
  grid-template-columns: 80% 20%;
  grid-template-rows: 70% 30%;
  grid-template-areas:
    "info sunContainer"
    "ocean ocean";
}

.info {
  grid-area: info;
}

.sunContainer {
  grid-area: sunContainer;
}

.ocean {
  grid-area: ocean;
  position: relative;
}

.infoContainer {
  width: 900px;
  margin-top: 100px;
  margin-left: 100px;
  height: auto;
  grid-area: info;
  display: grid;
  grid-template-columns: 100px auto;
  grid-template-rows: auto auto auto;
  grid-template-areas:
    "pierreContainer name"
    "title title"
    "links links";
}

.name {
  grid-area: name;
  font-family: 'Josefin Sans', sans-serif;
  font-size: 130px;
}

.title {
  grid-area: title;
  font-family: 'Josefin Sans', sans-serif;
  font-size: 40px;
  padding-left: 10px;
  padding-top: 10px;
}

.pierreContainer {
  grid-area: pierreContainer;
}

.links {
  grid-area: links;
  padding-left: 8px;
}

.pierre {
  grid-area: pierre;
  margin-top: 39px;
  margin-left: 10px;
  width: 65px;
  height: 65px;
  border: 1px solid black;
  border-radius: 50%;
  background: url('pierre.jpg');
  background-size: 90px;
  background-position: -23px -17px;
}

.sun {
  width: 300px;
  height: 300px;
  position: relative;
  top: -20px;
  right: -20px;
  background-color: #ffa91c;
  border-radius: 100%;
}

.palmTree {
  width: 304px;
  height: 228px;
  margin-left: 900px;
}

.oceanContainer {
  height: 50px;
  width: 100%;
  position: absolute;
  bottom: 0;
  z-index: -1;
}

.water1, .water2, .water3 {
  width: 100%;
}

.water3 {
  background-color: #bad4ff;
  height: 10%;
}

.water2 {
  background-color: #76aaff;
  height: 30%;
}

.water1 {
  background-color: #1C72FF;
  height: 60%;
}

a {
  color: inherit;
  text-decoration: none;
}

.fab {
  margin: 25px 5px 0 5px;
}
